<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Exams Portal</a>
            
                <!-- <form class="d-flex me-3 my-2" role="search">
                  <input
                    type="search"
                    placeholder="Enter text to search"
                    class="form-control me-2"
                    aria-label="search"
                  >
                  <button
                    type="submit"
                    class="btn btn-light btnStyle"
                    aria-label="submit search button"
                  >
                    Submit
                  </button>
                </form> -->
                <div class="d-flex ms-auto">
                    <a href="/logout" class="btn btn-light me-2 btnStyle" role="button" aria-label="signup link">Logout</a>
                </div>
            </div>
        </div>
    </nav>
