<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Exams Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                  </li>
                </ul>
                <!-- <form class="d-flex me-3 my-2" role="search">
                  <input 
                    type="search" 
                    placeholder="Enter text to search"
                    class="form-control me-2"
                    aria-label="search"
                  >
                  <button 
                    type="submit" 
                    class="btn btn-light btnStyle"
                    aria-label="submit search button"
                  >
                    Submit
                  </button>
                </form> -->
                <div class="d-flex ms-auto">
                    <a href="/register" class="btn btn-light me-2 btnStyle" role="button" aria-label="signup link">Signup</a>
                    <a href="/login" class="btn btn-light btnStyle" role="button" aria-label="login link">Login</a>
                </div>
            </div>
        </div>
    </nav>

    
