<%- include('../../partials/header/', { title: 'Past Questions' }) %>
<%- include('../../partials/loginnav') %>

<main class="main">
  <section class="mt-5">
    <a href="/users/adII" class="btn btn-secondary m-4">Back To Dashboard</a>
    <div class="container mt-5  d-flex flex-column align-items-center justify-content-center pt-5">
      
      <div class="card w-100" style="max-width: 600px;">
        <div class="card-body d-flex justify-content-between align-items-center">
          <p class="mb-0 fs-5">ADII 2020 Past Question</p>
          <a href="/pastQo/adII2020" class="btn btn-primary">Click to View</a>
        </div>
        <div class="card-body d-flex justify-content-between align-items-center">
          <p class="mb-0 fs-5">ADII 2021 Past Question</p>
          <a href="/pastQo/adII2021" class="btn btn-primary">Click to View</a>
        </div>
        <div class="card-body d-flex align-items-center justify-content-between">
            <p class="mb-0 fs-5">ADII 2023 Past Question</p>
            <a href="/pastQo/adII2023" class="btn btn-primary">Click to View</a>
        </div>
      </div>
      
    </div>
  </section>
</main>

<%- include('../../partials/footer') %>
