<%- include('../../../partials/header', {title: 'ADII 2021 Past Question'}) %>
<%- include('../../../partials/loginnav') %>

<style>
    ol li b{
        font-size: 1.2rem;
    }
</style>
<main>
    <section>
        <div class="container d-flex align-items-center justify-content-center mt-5 flex-column">
            <a href="/users/adII/pastQuestions" class="btn btn-secondary mt-4">Back To Dashboard</a>
            <div class="my-5 card p-3">
                <h2 class="text-center fw-bold">PAST QUESTION AND ANSWERS 2020</h2>
                <p class="text-center fw-bold">ADII FEB 2020</p>
                <p class="text-center fw-bold mb-5">Answer all questions in this section by circling the letter corresponding to the correct 
                    or best answer on your question paper
                </p>

                   <p>1. The aim of Ghana's education system is ..............</p>
                    <ol type="a">
                        <li>Personality development</li>
                        <li>Character formation</li>
                        <li>Preservation of culture</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>2. The Ministry of Education of Ghana, which is a multi-portfolio government ministry, was established in ..............</p>
                    <ol type="a">
                        <li>1947</li>
                        <li>1956</li>
                        <li><b>1957</b></li>
                        <li>1960</li>
                    </ol>

                    <p>3. Which of the following is/was the objective(s) of the 1987 Education Reform?</p>
                    <ol type="a">
                        <li>I only</li>
                        <li>II and III only</li>
                        <li>I, II and III only</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>5. The performance of a student can be evaluated in the best possible manner through</p>
                    <ol type="a">
                        <li>Annual assessments</li>
                        <li><b>Continuous assessments</b></li>
                        <li>Monthly assessments</li>
                        <li>Weekly assessments</li>
                    </ol>

                    <p>6. Which of the following is not a body under the Ministry of Education which implements its policies and programmes related to education?</p>
                    <ol type="a">
                        <li>Ghana Education Division</li>
                        <li>Non-Formal Education Division</li>
                        <li>Teacher Education Division</li>
                        <li><b>Ghana Library Authority</b></li>
                    </ol>

                    <p>7. Testing in education is only possible using</p>
                    <ol type="a">
                        <li>Achievement test</li>
                        <li>Intelligence test</li>
                        <li>Aptitude test</li>
                        <li><b>Standardized achievement test</b></li>
                    </ol>

                    <p>8. How many units have the Technical and Vocational Education Division (TVED) of the Ghana Education Service (GES) Headquarters?</p>
                    <ol type="a">
                        <li>7</li>
                        <li>8</li>
                        <li><b>9</b></li>
                        <li>10</li>
                    </ol>

                    <p>9. Which of the following is/are not the objective(s) of the Free Compulsory Universal Basic Education (FCUBE)?</p>
                    <ol type="a">
                        <li>III only</li>
                        <li>II and III only</li>
                        <li>I, II and III only</li>
                        <li><b>None of the above</b></li>
                    </ol>

                    <p>10. Which one of the following Acts established the Ghana Education Service in 1995?</p>
                    <ol type="a">
                        <li><b>Act 506</b></li>
                        <li>Act 605</li>
                        <li>Act 778</li>
                        <li>Act 788</li>
                    </ol>

                    <p>11. Which of the following is/are not the way(s) through which education policies are formulated?</p>
                    <ol type="a">
                        <li>I only</li>
                        <li><b>I, II and III only</b></li>
                        <li>II and III only</li>
                        <li>III only</li>
                    </ol>

                    <p>12. How many divisions are under the jurisdiction of the Director-General (Quality and Access) of the Ghana Education Service?</p>
                    <ol type="a">
                        <li>5</li>
                        <li>6</li>
                        <li><b>7</b></li>
                        <li>8</li>
                    </ol>

                    <p>13. Curriculum provides guidance for ……………………………………………..</p>
                    <ol type="a">
                        <li>Schools</li>
                        <li><b>Teachers</b></li>
                        <li>Students</li>
                        <li>Parents</li>
                    </ol>

                    <p>14. Psychological foundation plays its role in the development of curriculum, keeping in view of the…………..</p>
                    <ol type="a">
                        <li>Students needs</li>
                        <li>Students interest</li>
                        <li>Students capability</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>15. An outline of the topics of a subject to be covered in a specific time is called a………</p>
                    <ol type="a">
                        <li>Programme</li>
                        <li>Syllabus</li>
                        <li><b>Curriculum</b></li>
                        <li>Course</li>
                    </ol>

                    <p>16. All of the following statements regarding a teacher are correct except that the teacher</p>
                    <ol type="a">
                        <li>Changes his/her attitudes and behavior according to the needs of society</li>
                        <li>is a friend, guide and philosopher</li>
                        <li>is the leader of the class</li>
                        <li><b>teaches what the students know</b></li>
                    </ol>

                    <p>17. The type of education acquired without any specific purpose, fixed period and place is called….</p>
                    <ol type="a">
                        <li>Formal Education</li>
                        <li>Indirect Education</li>
                        <li>Individual Education</li>
                        <li><b>Informal Education</b></li>
                    </ol>

                    <p>18. Why are co-curricular activities used in teaching?</p>
                    <ol type="a">
                        <li>To assist the teacher</li>
                        <li>To make teaching easy</li>
                        <li>To make teaching look attractive</li>
                        <li><b>To make teaching interesting and effective</b></li>
                    </ol>

                    <p>19. Which of the following sentence is/are correct about the nature of teaching?</p>
                    <ol type="a">
                        <li>I only</li>
                        <li>II only</li>
                        <li>III only</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>20. The procedure used to determine a learner’s abilities is referred to as</p>
                    <ol type="a">
                        <li>Criterion reference test</li>
                        <li>Maximum performance test</li>
                        <li>Norm-referenced</li>
                        <li><b>Typical performance test</b></li>
                    </ol>

                    <p>21. What are the three components of the educational process?</p>
                    <ol type="a">
                        <li>Direction, instruction and skill</li>
                        <li>Education, teacher</li>
                        <li>Teacher, student and education</li>
                        <li><b>Teaching, learning and practice</b></li>
                    </ol>

                    <p>22. Teaching through the deductive method is done from the</p>
                    <ol type="a">
                        <li>Easy to the difficult</li>
                        <li><b>General to the specific</b></li>
                        <li>Macro to the macro</li>
                        <li>Specific to the general</li>
                    </ol>

                    <p>23. A/an …………………..assessment is one which measures what it is intended to measure.</p>
                    <ol type="a">
                        <li>Consistent</li>
                        <li>Fair</li>
                        <li>Reliable</li>
                        <li><b>Valid</b></li>
                    </ol>

                    <p>24. The use of technology to enhance the learning process is called …………………….….. in education.</p>
                    <ol type="a">
                        <li>Communication technology</li>
                        <li><b>Information communication technology</b></li>
                        <li>Information retrieval</li>
                        <li>Information technology</li>
                    </ol>

                    <p>25. The purpose of evaluation in education is to ……………………………………………..</p>
                    <ol type="a">
                        <li>Assign a mark or score to a student</li>
                        <li><b>Make judgment about the quality of learning</b></li>
                        <li>Measure the achievement of students</li>
                        <li>Test the student in a subject</li>
                    </ol>

                    <p>26. According to John Dewey, the teacher should guide students in acquiring knowledge as a …………. in the learning process.</p>
                    <ol type="a">
                        <li><b>Facilitator</b></li>
                        <li>Guider</li>
                        <li>Partner</li>
                        <li>Philosopher</li>
                    </ol>

                    <p>27. The primary aim of educational psychology is to ……………………………..</p>
                    <ol type="a">
                        <li><b>Contribute to an understanding of sound educational practices</b></li>
                        <li>Provide the academic background essential for the effective teaching</li>
                        <li>Provide a theoretical framework for educational research</li>
                        <li>Provide the teacher with a greater appreciation of his role in the education of the child</li>
                    </ol>

                    <p>28. The word “Pedagogy” means to ………………..</p>
                    <ol type="a">
                        <li>Educate the child</li>
                        <li>Guide the child</li>
                        <li><b>Lead the child</b></li>
                        <li>Understand the child</li>
                    </ol>

                    <p>29. A scoring guide used to evaluate the quality of students is called</p>
                    <ol type="a">
                        <li>Checklists</li>
                        <li>Inventories</li>
                        <li>Rating scales</li>
                        <li><b>Rubrics</b></li>
                    </ol>

                    <p>30. Teachers should present information to the students clearly and in interesting ways, and relate new information to the things students…………………..</p>
                    <ol type="a">
                        <li><b>Already know</b></li>
                        <li>Are not willing to know</li>
                        <li>Are willing to know</li>
                        <li>Don’t know</li>
                    </ol>

                    <p>31. The field of study which is concerned with the construction of thought processes, including remembering, problem solving, and decision making is called…………….</p>
                    <ol type="a">
                        <li><b>Cognitive Development</b></li>
                        <li>Education</li>
                        <li>Epistemology</li>
                        <li>Pedagogy</li>
                    </ol>
                    <p>32. The process of obtaining numerical value for a characteristic is known as ……………….</p>
                    <ol type="a">
                        <li>Assessment</li>
                        <li>Evaluation</li>
                        <li><b>Measurement</b></li>
                        <li>Testing</li>
                    </ol>

                    <p>33. In teaching, the discussion method can be used when……………….</p>
                    <ol type="a">
                        <li>The topic is easy</li>
                        <li>The topic is not known</li>
                        <li>The topic is very difficult</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>34. Which of the following is/are the main aim(s) of teaching?</p>
                    <ol type="a">
                        <li>To develop only thinking</li>
                        <li>To develop only reasoning</li>
                        <li>To give information</li>
                        <li><b>A and B</b></li>
                    </ol>

                    <p>35. The quality of teaching is reflected by the ………………….</p>
                    <ol type="a">
                        <li>Attendance of students in the class</li>
                        <li>Duration of silence maintained in the class</li>
                        <li>Percentage pass of students</li>
                        <li><b>Quality of question asked by students</b></li>
                    </ol>

                    <p>36. A formal and systematic procedure of getting information is called…………….</p>
                    <ol type="a">
                        <li>Assessment</li>
                        <li>Evaluation</li>
                        <li><b>Measurement</b></li>
                        <li>Testing</li>
                    </ol>

                    <p>37. Which of the following is not considered a key behavior essential for effective teaching?</p>
                    <ol type="a">
                        <li><b>Effective use of bulletin board space</b></li>
                        <li>Instructional variety</li>
                        <li>Lesson clarity</li>
                        <li>Student success rate</li>
                    </ol>

                    <p>38. An effective teacher is expected to………………………….………. </p>
                    <ol type="a">
                        <li>Encourage student to be initiative</li>
                        <li>Make students feel that education is their need</li>
                        <li>Reduce the anxiety level of students to moderate level</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>39. An evaluation that monitors learning progress is referred to as evaluation.</p>
                    <ol type="a">
                        <li>Diagnostic</li>
                        <li><b>Formative</b></li>
                        <li>Placement</li>
                        <li>Summative</li>
                    </ol>

                    <p>40. The main purpose of supervising teaching is to ……………………………….………</p>
                    <ol type="a">
                        <li>Achieve success in examinations</li>
                        <li>Property utilize school facilities</li>
                        <li>Carry out the curriculum</li>
                        <li><b>Advance pupils’ welfare</b></li>
                    </ol>

                    <p>41. Mrs. Yamoah teaches Junior High School (3) … Which of the following terms accurately describes the situation above?</p>
                    <ol type="a">
                        <li>A disorganized classroom</li>
                        <li>A flexible classroom</li>
                        <li>A rigid classroom</li>
                        <li><b>A well-managed classroom</b></li>
                    </ol>

                    <p>42. Which of the following is not one of the core domains of the National Teachers Standards?</p>
                    <ol type="a">
                        <li>Professional ethics</li>
                        <li>Professional knowledge</li>
                        <li>Professional practice</li>
                        <li><b>Professional values and attitudes</b></li>
                    </ol>

                    <p>43. Which of the following is not a tool for formative assessment in scholastic domain?</p>
                    <ol type="a">
                        <li><b>Conversation Skill</b></li>
                        <li>Multiple Choice Questions</li>
                        <li>Projects</li>
                        <li>Oral Questions</li>
                    </ol>

                    <p>44. What was Ghana’s score on the Corruption Perception Index (CPI) released by Transparency International in 2018?</p>
                    <ol type="a">
                        <li>38%</li>
                        <li><b>39%</b></li>
                        <li>40%</li>
                        <li>41%</li>
                    </ol>

                    <p>45. Which one of the following political ideologies is Plato credited with?</p>
                    <ol type="a">
                        <li><b>Collectivism</b></li>
                        <li>Democracy</li>
                        <li>Imperialism</li>
                        <li>Individualism</li>
                    </ol>

                    <p>46. The first important step in teaching is ………………………………….……….</p>
                    <ol type="a">
                        <li><b>Knowing the background of the students</b></li>
                        <li>Organizing material to be taught</li>
                        <li>Planning before hand</li>
                        <li>Summarizing the lesson</li>
                    </ol>

                    <p>47. A newly posted teacher who is maltreated in his/her class by the students should deal with them by………………..</p>
                    <ol type="a">
                        <li>Applying punitive measures</li>
                        <li>Changing his/her class after consultation with head teacher</li>
                        <li>Giving them a threat of expulsion</li>
                        <li><b>Improving his/her qualities and expressing them in a good way</b></li>
                    </ol>

                    <p>48. The main purpose of classroom assessment is to …………….</p>
                    <ol type="a">
                        <li>Compare students’ performance</li>
                        <li><b>Improve instruction</b></li>
                        <li>Measure teachers’ effectiveness</li>
                        <li>Report to parents</li>
                    </ol>

                    <p>49. Where is the International Court of Justice situated?</p>
                    <ol type="a">
                        <li><b>The Hague</b></li>
                        <li>Berlin</li>
                        <li>Washington DC</li>
                        <li>Geneva</li>
                    </ol>

                    <p>50. The term used for monitoring outcomes with reference to objectives is……………….</p>
                    <ol type="a">
                        <li><b>Evaluation</b></li>
                        <li>Interview</li>
                        <li>Measurement</li>
                        <li>Test</li>
                    </ol>

                    <!-- TRUE/FALSE SECTION -->
                    <p class="text-center h2 fw-bold">SECTION B </p>
                    <p class="text-center fw-bold">TRUE OR FALSE QUESTIONS </p>
                    <p class="text-center fw-bold my-3">INSTRUCTIONS: Answer all questions in the section by identifying whether the statement provided 
                    is true or false. Circle the letter that corresponds to the correct or best options on your questions 
                    paper. </p> 
                    
                    <p>51. The ministry of Education formulates and implements approved national policies and programmes on education in Ghana.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>52. Teachers Education Division (TED) is one of the divisions at the Ghana Education Service headquarters.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>53. In any school situation, performance tasks are hands-on activities that require students to demonstrate their ability to perform certain actions.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>54. A teacher who is respected and liked is associated with greater student satisfaction and higher achievement.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>55. A teacher cannot exhibit referent power from the first day of class by giving students a sense of belonging and acceptance.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>56. Classrooms are said to have norms when only few of the students agree on what is and/or what is not socially acceptable classroom behavior.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>57. Social psychologists believe that the process of group formation begins when its members agree to go against the norms of the group.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>58. Licensure and exit tests are best predictors of classroom performance of teachers.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>59. If a teacher teaches with a high degree of clarity, he/she will spend less time going over material.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>60. Students’ performance is higher in classes where the teacher devotes a large amount of time to the process and materials needed rather than teaching content.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>61. What a teacher does not say is every bit as important as what a teacher does say.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>62. Competitive activities have little value in establishing or maintaining an effective classroom climate and should thus be avoided.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>63. Students feel important and are encouraged to participate in class when a teacher uses their ideas in moving a class lesson or activity forward.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>64. Bid-rigging may result in the supply of inferior textbooks and supplies.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>65. In assessing learning, it is not important to know the purpose of assessment before selecting an assessment approach.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>66. Types of corruption in elementary-secondary education range from academic cheating to bribery and nepotism in teaching appointments, to bid-rigging in the procurement of textbooks and supplies.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>67. When families are made to pay bribes for services, this puts poor students at a disadvantage and thus reduces equal access to education.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>68. Giving teachers the authority and responsibility to apply their own professional knowledge to make decisions in their area of responsibility is an important aspect of collegiality.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>69. Establishing rules and procedures is one of the least important classroom management tasks.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>70. The performing stage begins when students want to show they can do some things.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>71. Written assessments are activities in which the student selects or composes a response to a prompt.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>72. The teacher cannot alter the classroom climate but should work for student success regardless of the climate.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>73. In Ghana, the National Teachers’ Standard sets out the maximum levels of practice that all trained teachers must reach by the end of their pre-service teacher education course in order to play such a critical role.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>74. The skills that must be demonstrated in performance tasks cannot vary considerably.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>75. In a school, teachers have many different types of assessment available to them.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

            </div>

        </div>
    </section>
</main>

<%- include('../../../partials/footer') %>
