<%- include('../../../partials/header', {title: 'ADII 2021 Past Question'}) %>
<%- include('../../../partials/loginnav') %>

<style>
    ol li b{
        font-size: 1.2rem;
    }
</style>
<main>
    <section>
        <div class="container d-flex align-items-center justify-content-center mt-5 flex-column">
            <a href="/users/adII/pastQuestions" class="btn btn-secondary mt-4">Back To Dashboard</a>
            <div class="my-5 card p-3">
                <p>1. The Common Core Programme (CCP) for Junior and Senior High Schools consists of how many subjects</p>
            <ol type="a">
                <li>7</li>
                <li>8</li>
                <li><b>9</b></li>
                <li>10</li>
            </ol>

            <p>2. Which one of the agencies is not a body under the Ministry of Education which implements its policies and programme related to education</p>
            <ol type="a">
                <li>Complementary Education Agency</li>
                <li>Ghana Library Board</li>
                <li>Ghana Tertiary Education Commission</li>
                <li><b>National Commission for Civic Education</b></li>
            </ol>

            <p>3. Which of the following is/are the objectives of the 1987 Education Reform?</p>
            <ol type="I">
                <li>Increase access to basic education</li>
                <li>Shorten the pre-university education structure from 17 years</li>
                <li>Make education cost-effective</li>
                <li>Improving quality of education by making it more effective to socio-economic conditions</li>
            </ol>
            <ol type="a">
                <li>I only</li>
                <li>I, II, and III only</li>
                <li>II and III only</li>
                <li><b>I, II, III and IV</b></li>
            </ol>

            <p>4. Which of the following was part of the programme and intentions implemented to facilitate the attainment of the Free Compulsory Universal Basic Education (FCUBE) policy objectives?</p>
            <ol type="i">
                <li>Quality improvement in primary schools (QUIPS)</li>
                <li>CHILD School Community Progress in Education (Child Scope)</li>
                <li>Performance Monitoring Test (PMT)</li>
                <li>District Teacher Support Teams (DIST)</li>
            </ol>
            <ol type="a">
                <li>I, II and III only</li>
                <li>II and III only</li>
                <li>III only</li>
                <li><b>I, II, III and IV only</b></li>
            </ol>

            <p>5. Ghana’s system of education is aimed at which of these aspects of development?</p>
            <ol type="a">
                <li>Character formation</li>
                <li>Personality formation</li>
                <li>Preservation of culture</li>
                <li><b>All of the above</b></li>
            </ol>

            <p>6. The Ghana Education Service Act 1995</p>
            <ol type="a">
                <li><b>Act 506</b></li>
                <li>Act 605</li>
                <li>Act 778</li>
                <li>Act 78</li>
            </ol>

            <p>7. Which of the following is/are not the ways through which education policies are formulated?</p>
            <ol type="i">
                <li>Imposition by elites</li>
                <li>Political discussions</li>
                <li>Stakeholder consultation</li>
            </ol>
            <ol type="a">
                <li>I only</li>
                <li>II only</li>
                <li>III only</li>
                <li><b>I, II, and III</b></li>
            </ol>

            <p>8. Which of the following subjects is not part of the list of subjects to be studied under the Common Core Programme for Junior and Senior High School in Ghana?</p>
            <ol type="a">
                <li>Career Technology</li>
                <li>History</li>
                <li>Physical and Health Education</li>
                <li><b>Religious and Moral Education</b></li>
            </ol>

            <p>9. The current Deputy Director–General of the Ghana Education Service in charge of Quality and Access is known as</p>
            <ol type="a">
                <li><b>Dr. Kwabena Bempah Tandoh</b></li>
                <li>Lawyer Anthony Boateng</li>
                <li>Professor Kwesi Opoku Amankwa</li>
                <li>Professor Mathew Opoku Amankwa</li>
            </ol>

            <p>10. Membership of the Ghana Education Service is made up of all the following except</p>
            <ol type="a">
                <li><b>All the stakeholders in education</b></li>
                <li>Other persons that may be employed for the service</li>
                <li>Teacher and non-teaching supporting personnel in pre-tertiary educational institutions in the public system</li>
                <li>The personnel of the Ghana Education Service existing immediately before the coming into force of the Ghana Education Act 1995</li>
            </ol>

            <p>11. Which of the following is the least remedy for students’ absenteeism in school?</p>
            <ol type="a">
                <li>Parent should be counselled to ensure regular attendance of their wards/pupils to school</li>
                <li>Parents should personally supervise the activities of their ward to ensure that they do not play truancy</li>
                <li><b>Pupil should be punished for absenteeism</b></li>
                <li>Teacher should desist from harassing students</li>
            </ol>

            <p>12. The Head teacher in a learner-centred school undertakes all the following activities to enhance teaching and learning except</p>
            <ol type="a">
                <li>Empowering teachers to involve each learner in the teaching/learning process</li>
                <li><b>Encouraging teachers to avoid test and other assessment because they demoralize students</b></li>
                <li>Encouraging teacher to develop lessons plans that use existing knowledge</li>
                <li>Motivate and sustain teacher interest in teaching</li>
            </ol>

            <p>13. Which of the following is the most common role of a teacher in education?</p>
            <ol type="a">
                <li>Build a warm environment in the classroom</li>
                <li>Mentor and nurture students</li>
                <li>Providing leadership in learning</li>
                <li><b>Set the tone of their classroom</b></li>
            </ol>

            <p>14. Which one of the following is not one of the core competencies emphasized in the new standards-based curriculum?</p>
            <ol type="a">
                <li><b>Clarity</b></li>
                <li>Collaboration</li>
                <li>Communication</li>
                <li>Critical thinking</li>
            </ol>

            <p>15. Which of the following methods, techniques and principles are teachers encouraged to use to promote effective teaching and learning?</p>
            <ol type="i">
                <li>Providing guidance and practice in class independent practice</li>
                <li>Motivating and sustaining pupils interest</li>
                <li>Motivating and sustaining pupils interest</li>
                <li>Involve each learner in the teaching/learning process</li>
                <li>Even distribution of evaluative questions</li>
            </ol>
            <ol type="a">
                <li>I, II, and III only</li>
                <li><b>I, II, III, IV and V</b></li>
                <li>I, II, III and IV only</li>
                <li>II and III only</li>
            </ol>

            <p>16. Supervision of teaching may ensure</p>
            <ol type="a">
                <li>Achievement in success in examination</li>
                <li>Advancement of pupils welfare</li>
                <li>Proper utilization of school facilities</li>
                <li><b>Quality delivery of curriculum</b></li>
            </ol>

            <p>17. Management is commonly defined as</p>
            <ol type="a">
                <li>Getting things done so that demand is fulfilled</li>
                <li><b>Getting things done through other people</b></li>
                <li>Knowing what actually has been produced and what should have been produced</li>
                <li>Working for others</li>
            </ol>

            <p>18. Rote learning is more common with …………………… curriculum</p>
            <ol type="a">
                <li>Learner-centred</li>
                <li>Problem-based</li>
                <li>Standard-centred</li>
                <li><b>Subject-centred</b></li>
            </ol>

            <p>19. All the following statements about the teacher are correct except</p>
            <ol type="a">
                <li><b>Imposes ideas on pupil</b></li>
                <li>Serves as a role model to pupil</li>
                <li>Is the leader of the class</li>
                <li>Serves as a facilitator to pupil/teaching</li>
            </ol>

            <p>20. Teaching objectives should be all the following except being</p>
            <ol type="a">
                <li>Achievable</li>
                <li>Realistic</li>
                <li><b>Rigid</b></li>
                <li>Time-bound</li>
            </ol>

            <p>21. The maturity level of students determines the</p>
            <ol type="a">
                <li>appropriate motivation techniques needed to be employed</li>
                <li>learning tasks</li>
                <li>teaching methods</li>
                <li><b>all of the above</b></li>
            </ol>

            <p>22. Which one of the following reasons best explains why teachers should ensure that there are physical pathways for students in the classroom?</p>
            <ol type="a">
                <li>allow students private space to work for themselves</li>
                <li><b>make it easier for teachers to attend to individual</b></li>
                <li>make it easier for teachers to see the board from the back</li>
                <li>make students less likely to become distracted</li>
            </ol>

            <p>23. If teachers want to present information to students in interesting ways they should start from what they</p>
            <ol type="a">
                <li><b>already know</b></li>
                <li>are to know</li>
                <li>are willing to know</li>
                <li>don’t know</li>
            </ol>

            <p>24. In order to affect a purposeful change in schools, a school leader should ask the question</p>
            <ol type="a">
                <li>why is the change taking place?</li>
                <li>what do we hope to accomplish</li>
                <li>what resources do we require</li>
                <li><b>all of the above</b></li>
            </ol>

            <p>25. Heads of educational institutions can appropriately ensure the safety of their students against COVID-19 by the following measures except providing them</p>
            <ol type="a">
                <li>face mask to wear</li>
                <li>hand sanitizer to sanitize their hands</li>
                <li><b>hand gloves to protect their hands</b></li>
                <li>water and hand soap to wash their hands</li>
            </ol>

            <p>26. Which of these questions helps you the least to specify your lesson objectives for students’ learning as a teacher?</p>
            <ol type="a">
                <li>what do I want students to learn?</li>
                <li>what do I want them to understand and be able to do at the end of class?</li>
                <li>what is the topic of the lesson</li>
                <li><b>what will I do to explain a topic</b></li>
            </ol>

            <p>27. Which of these reflective questions could best help the classroom teacher to design learning activities for teaching?</p>
            <ol type="a">
                <li><b>How will I check whether students know anything about the topic or have any preconceived notions about it</b></li>
                <li>What are the relevant real life examples, analogies, or situations that can help students understand the topic</li>
                <li>What question will I ask to check for understanding</li>
                <li>What will I have students do to demonstrate that they are following</li>
            </ol>

            <p>28. Which of these Ghanaian languages is not approved for teaching and learning in Ghanaian schools?</p>
            <ol type="a">
                <li>Dangbe</li>
                <li><b>Kesem</b></li>
                <li>Nzema</li>
                <li>Sefwi</li>
            </ol>

            <p>29. Which of these learner attributes is not a major aspect of school bonding? Attachment to</p>
            <ol type="a">
                <li>Friends</li>
                <li>Teachers</li>
                <li><b>The non-teaching staff</b></li>
                <li>The school</li>
            </ol>

            <p>30. For what reason might a school be unable to maintain adequate educational quality and student discipline?</p>
            <ol type="a">
                <li>Diversity</li>
                <li>Segregation</li>
                <li><b>Both option A and B</b></li>
                <li>None of the above</li>
            </ol>

            <p>31. Which one of the following types of achievement test items can be used to measure higher order cognitive skills?</p>
            <ol type="a">
                <li><b>Essay</b></li>
                <li>Multiple-choice</li>
                <li>Short answer or completion</li>
                <li>True–false</li>
            </ol>

            <p>32. All of these key terms relate to and/or describe reliability, except</p>
            <ol type="a">
                <li>Consistency</li>
                <li>Credibility</li>
                <li>Dependability</li>
                <li><b>Trustworthiness</b></li>
            </ol>

            <p>33. A question which asks learners to restate a concept in their own words is an example of ………….. test question frame</p>
            <ol type="a">
                <li>Analysis</li>
                <li><b>Comprehension</b></li>
                <li>Knowledge</li>
                <li>Synthesis</li>
            </ol>

            <p>34. A question which asks learners to infer from a concept is an example of ……………. test question frame</p>
            <ol type="a">
                <li>Comprehension</li>
                <li><b>Evaluation</b></li>
                <li>Knowledge</li>
                <li>Synthesis</li>
            </ol>

            <p>35. A question which asks learners “what is meant by ‘P’” is an example of ………….. test question frame</p>
            <ol type="a">
                <li>Analysis</li>
                <li>Application</li>
                <li><b>Knowledge</b></li>
                <li>Synthesis</li>
            </ol>

            <p>36. Which one of these statements is not correct about examination?</p>
            <ol type="a">
                <li><b>It is a sure way for candidates not to fail in an examination</b></li>
                <li>It may lead to the cancellation of entire results of a school</li>
                <li>People caught in examination leakage may be prosecuted at the law courts</li>
                <li>The general public may lose confidence in certificates that are awarded to candidates</li>
            </ol>

            <p>37. Programme evaluation is one of the many duties assigned to education administrators. Which one of the following statements describes summative programme evaluation accurately?</p>
            <ol type="a">
                <li><b>It is a process intended to determine if a programme has met its goals</b></li>
                <li>It is a process intended to get input from teachers</li>
                <li>It is a process intended to provide information that can be used to improve a programme</li>
                <li>None of the above</li>
            </ol>

            <p>38. Out of 50 students who took a test, 45 of them passed, what percentage failed?</p>
            <ol type="a">
                <li>50%</li>
                <li><b>10%</b></li>
                <li>20%</li>
                <li>30%</li>
            </ol>

            <p>39. Which of the following is not an example of learning assessment metric for Ghanaian basic schools?</p>
            <ol type="a">
                <li>Early Grade Mathematics Assessment (EGMA)</li>
                <li><b>Early Grade Reading Assessment (ERGA)</b></li>
                <li>National Examination Assessment (NEA)</li>
                <li>Trends in International Mathematics and Science Study (TIMSS)</li>
            </ol>

            <p>40. The general name for scoring guide used to evaluate the quality of students is called a/an</p>
            <ol type="a">
                <li>Checklist</li>
                <li>Inventory</li>
                <li><b>Rating scale</b></li>
                <li>Metric</li>
            </ol>
            <p>41. The SDG that relates to education aims to ensure</p>
                <ol type="a">
                    <li>Equitable and inclusive education for all, especially the girl child</li>
                    <li>Improved access and participation in education for all children</li>
                    <li><b>Inclusive and equitable quality lifelong opportunities for all</b></li>
                    <li>Universal basic education for all</li>
                </ol>

                <p>42. As ways of mitigating the graduate unemployment issues, the government has introduced the following interventions except</p>
                <ol type="a">
                    <li>Nation Builders Corps</li>
                    <li>National Youth Employment Programme</li>
                    <li><b>Teachers and Nurses Allowances</b></li>
                    <li>Youth in Afforestation</li>
                </ol>

                <p>43. All of the following are minimum levels of standards every beginner teacher in Ghana must attain according to the components of the National Teacher’s Standards (NTS), except</p>
                <ol type="a">
                    <li><b>Ethnics</b></li>
                    <li>Knowledge</li>
                    <li>Practice</li>
                    <li>Values</li>
                </ol>

                <p>44. Which of these general competencies envisioned by Ghana’s pre-tertiary education curriculum framework seeks to promote</p>
                <ol type="a">
                    <li>Communication and collaboration</li>
                    <li>Creativity and innovation</li>
                    <li><b>Critical thinking and problem solving</b></li>
                    <li>Personal development and leadership</li>
                </ol>

                <p>45. A student’s ability in analyzing issues and situations leading to the resolution of problems is a demonstration of what kind of competence?</p>
                <ol type="a">
                    <li>Communication and collaboration</li>
                    <li>Creativity and innovation</li>
                    <li>Cultural identity and global citizenship</li>
                    <li><b>Personal development and leadership competence</b></li>
                </ol>

                <p>46. Which body within the Ghanaian education system has the overall responsibility for education sector policy formulation, planning, monitoring and evaluation, budgeting and coordination?</p>
                <ol type="a">
                    <li>Ghana Education Service</li>
                    <li><b>Ministry of Education</b></li>
                    <li>National Council for Curriculum and Assessment</li>
                    <li>National Council for Tertiary Education</li>
                </ol>

                <p>47. Which of the following is a part of the major regulatory laws governing financial administration in schools in Ghana?</p>
                <ol type="a">
                    <li>Create room to accommodate the increase in enrolment</li>
                    <li>Expand physical school infrastructure and facilities</li>
                    <li>Increase the number of holidays (especially for teachers)</li>
                    <li><b>The Public Financial Management Act 2016 (Act 921)</b></li>
                </ol>

                <p>48. Which of these options is not a major aim of the Double Track intervention which was introduced in Senior High Schools in Ghana?</p>
                <ol type="a">
                    <li>Create room to accommodate the increase in enrolment</li>
                    <li>Expand physical school infrastructure and facilities</li>
                    <li><b>Increase the number of holidays (especially for teachers)</b></li>
                    <li>Reduce class sizes</li>
                </ol>

                <p>49. The activity of teachers investigating their own practice and developing useful ideas to improve their practice can be referred to as … research</p>
                <ol type="a">
                    <li><b>Action</b></li>
                    <li>Basic</li>
                    <li>Qualitative</li>
                    <li>Quantitative</li>
                </ol>

                <p>50. Which of the following offices of the Ministry of Education houses the Education Management Information System (EMIS) data?</p>
                <ol type="a">
                    <li>Administration and General Service</li>
                    <li>Free Senior High School Secretariat</li>
                    <li>Reform Secretariat</li>
                    <li><b>Statistics, Research, Information Management (SRIM)</b></li>
                </ol>

                <!-- TRUE/FALSE SECTION -->
                <p class="text-center h2 fw-bold">SECTION B </p>
                <p class="text-center fw-bold">TRUE OR FALSE QUESTIONS </p>
                <p class="text-center fw-bold my-3">INSTRUCTIONS: Answer all questions in the section by identifying whether the statement provided 
                is true or false. Circle the letter that corresponds to the correct or best options on your questions 
                paper. </p> 
                
                
                <p>51. Sustainable Development Goal (SDG) 4 Target 1 states that “by 2030, all boys and girls complete free equitable and quality primary and secondary education leading to relevant and effective learning outcomes”</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>52. A school can directly improve academic performance of students by improving teacher’s note-taking skills</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>53. One of the major quality assurance issues confronting heads of public senior high schools is the encroachment on school lands by local chiefs and other people</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>54. The school timetable brings together subjects, teachers, classes, rooms and equipment in the best possible permutations</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>55. The overall goal of the Ministry of Education is to provide relevant and quality education for all Ghanaians</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>56. The goal of the education sector is in accordance with the Education Act 778</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>57. The guiding principle of Guidance and Counselling is that optimum emotional and psychosocial well-being of the learner is a determining factor for effective learning</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>58. Outstanding teachers may be selected for awards by school improvement and support offices; pupils/students; heads of institutions and colleagues</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>59. The quality of teaching is determined by the total number of pupils in a class</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>60. The closing of schools, universities and colleges as a result of the COVID-19 outbreak disturbed teaching for students around the world but could not affect education in any way as teaching and learning still went on</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>
                <p>61. Equity, inclusion, gender and teacher are cross-cutting issues in education</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>62. Basic education is designed for all Ghanaian children from age four (4) to fifteen (15) within period of eleven (11) years</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>63. Creativity and innovation (CI) skills enable learners to develop their cognitive and reasoning abilities to analysis to the revolution of problem</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>64. An important strategy that will help you as a teacher to introduce your topic is to anticipate student question</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>65. Summative assessment can take the form of progress review meetings between the teacher and students various points the term</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>66. It is not recommended to take statements directly from tests to make good true or false</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>67. Strategies such as writing detailed test question or prompts, including clear directions, and establishments and communicating clear grading criteria will increase test reliability</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>68. Two keys characteristics of any form of assessment validity and reliability. Another way to think of reliability is in terms of replicability</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>69. Students performance is higher in classes where the teacher devotes large amount of time to the material needed rather than the teaching content</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>70. In Ghana, financial accountability is one of the major responsibilities of the heads of schools</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>71. Procrastination is a productive behavior pattern that causes you to enhance your on-the-job efficiency because you focus on task that aren’t priorities for the day or week</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>72. An advantage of planning is that we tend to focus on what work today and not how to deal with the issues of tomorrow</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>73. Teacher Education Design (TED) is one of the divisions at the Ghana Education Service</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>

                <p>74. The Ghana Tertiary Education Commission comprises of National Accreditation Board and the National Council for Tertiary Education</p>
                <ol type="a">
                    <li><b>True</b></li>
                    <li>False</li>
                </ol>

                <p>75. The Ghana Education Service Council submits to the Ministry of Education recommendation for tertiary education policies and programmes in Ghana</p>
                <ol type="a">
                    <li>True</li>
                    <li><b>False</b></li>
                </ol>
            </div>

        </div>
    </section>
</main>

<%- include('../../../partials/footer') %>
