<%- include('../../../partials/header', {title: 2023 ADII Promotions Examination}) %>
<%- include('../../../partials/loginnav') %>


<main>
    <section>
        <div class="d-flex align-items-center justify-content-center flex-column">
             <a href="/users/adII/pastQuestions" class="btn btn-secondary mt-4">Back To Dashboard</a>
             <div>
                <h2 class="text-center fw-bold">PAST QUESTION AND ANSWERS 2020</h2>
                <p class="text-center fw-bold">ADII FEB 2020</p>
                <p class="text-center fw-bold mb-5">Answer all questions in this section by circling the letter corresponding to the correct 
                    or best answer on your question paper
                </p>


                <p>1. Education stakeholders are considered more important to a school when they ……</p>
                    <ol type="a">
                        <li><b>Use of their power in support of the school</b></li>
                        <li>Raise legitimate issues about teaching</li>
                        <li>Express themselves eloquently</li>
                        <li>Emphasize the urgency of their issues</li>
                    </ol>

                    <p>2. Which of the following are the main priorities of the Ghana Education Reform Agenda.</p>
                    <ol type="a">
                        <li>Improve learning outcomes</li>
                        <li>Enhanced accountability</li>
                        <li>Equality</li>
                        <li><b>Equity</b></li>
                    </ol>

                    <p>3. What is the purpose of conducting research?</p>
                    <ol type="a">
                        <li>To provide solutions to problems</li>
                        <li>To identify a problem needing solution</li>
                        <li>To add to or contribute to knowledge</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>4. In which year was the Pre-Tertiary Education Act (1049) enacted?</p>
                    <ol type="a">
                        <li>2017</li>
                        <li>2018</li>
                        <li>2019</li>
                        <li><b>2020</b></li>
                    </ol>

                    <p>5. Which of the following key qualities are required of a public officer?</p>
                    <ol type="a">
                        <li>Leadership Skills</li>
                        <li>Communication Skills</li>
                        <li><b>Patient and resilience</b></li>
                    </ol>

                    <p>6. The degree to which a person identifies with his or job, actively participates in it, and considers his or performance as being important to self-worth is referred to as job…</p>
                    <ol type="a">
                        <li>Stability</li>
                        <li>Satisfaction</li>
                        <li>Involvement</li>
                        <li><b>Commitment</b></li>
                    </ol>

                    <p>7. Which of the following best describes Ama’s action?</p>
                    <ol type="a">
                        <li><b>An emotion</b></li>
                        <li>An effect</li>
                        <li>A thought</li>
                        <li>Mood</li>
                    </ol>

                    <p>8. Which of the following best describes the behaviour of Ama’s boss?</p>
                    <ol type="a">
                        <li>Rude</li>
                        <li>Impolite</li>
                        <li>Disrespectful</li>
                        <li><b>Authoritarian</b></li>
                    </ol>

                    <p>9. When decision making is delegated as far down as possible in an education system, the system is said to be……</p>
                    <ol type="a">
                        <li>Flexible</li>
                        <li><b>Decentralised</b></li>
                        <li>Creative</li>
                        <li>Centralised</li>
                    </ol>

                    <p>10. Which of the following is not a characteristic of a well–constructed goal of educational organisations? They……..</p>
                    <ol type="a">
                        <li>are the results of a group decision process</li>
                        <li>are precise and measurable</li>
                        <li>are challenging but realistic</li>
                        <li><b>address critical issues</b></li>
                    </ol>

                    <p>11. The District Director of Education’s Office phone bill in 2020 is GHC 4,200.00. It increases by 10% in 2021 and a further 20% increase in the first six months of 2022. How much more will she have to pay at the end of June 2022?</p>
                    <ol type="a">
                        <li>5,744.00</li>
                        <li><b>GHC 5,544.00</b></li>
                        <li>GHC 4,620.00</li>
                        <li>GHC 4,400.00</li>
                    </ol>

                    <p>12. Which Act established the Complimentary Education Agency (CEA)?</p>
                    <ol type="a">
                        <li><b>2020 (Act 1058)</b></li>
                        <li>2020 (Act 1055)</li>
                        <li>2020 (Act 1023)</li>
                        <li>2020 (Act 1049)</li>
                    </ol>

                    <p>13. Which of the following is not a key education reform area of the Ministry of Education?</p>
                    <ol type="a">
                        <li>Pre-Tertiary Curriculum Reform through NaCCA</li>
                        <li>Policy on Teachers Education Reforms led by the GTEC through T-TEL</li>
                        <li><b>Global Citizenship Education Reform</b></li>
                        <li>GES institutional and Human Resource Reform</li>
                    </ol>

                    <p>14. What is the following fallacy called? “All ducks love water. Kofi loves water. Therefore, Kofi is a duck”.</p>
                    <ol type="a">
                        <li>Modus tollens</li>
                        <li>Modus ponens</li>
                        <li>Denying the antecedent</li>
                        <li><b>Affirming the consequent</b></li>
                    </ol>

                    <p>15. The “best” approach for transformational change in a school is to have the school leader create an atmosphere for change……..</p>
                    <ol type="a">
                        <li>but let others decide how to initiate a change</li>
                        <li>but carefully set limits for the program</li>
                        <li>and establish a reward system</li>
                        <li><b>and begin establishing a vision</b></li>
                    </ol>

                    <p>16. Which one of the following best describes the focus of inclusive education? To increase…</p>
                    <ol type="a">
                        <li><b>Participation of all students in schools including those with disabilities</b></li>
                        <li>Participation of all staff in decision making including non-teaching staff</li>
                        <li>Integration of various subject disciplines</li>
                        <li>Integration of basic, secondary and tertiary systems</li>
                    </ol>

                    <p>17. The principal strategy adopted for Universal Design for Learning (UDL) is ……..</p>
                    <ol type="a">
                        <li>Inviting parents to attend meetings</li>
                        <li>Giving learners quizzes at the end of every lesson</li>
                        <li>Asking parents to sign completed assignments</li>
                        <li><b>Adopting multiple ways of representing content</b></li>
                    </ol>

                    <p>18. Which of the following is not one of the four pillars of secondary education reform in Ghana?</p>
                    <ol type="a">
                        <li>Promote skill development and equity</li>
                        <li><b>Improve equality</b></li>
                        <li>Expand physical infrastructure</li>
                        <li>Absorb all fees paid</li>
                    </ol>

                    <p>19. Who is the director-General of the Ghana TVET Service?</p>
                    <ol type="a">
                        <li>Mr. David Prah</li>
                        <li>Madam Mawusi Nudekor Awity</li>
                        <li>Madam Gifty Twum Boafo</li>
                        <li><b>Dr. Fred Kyei Asamoah</b></li>
                    </ol>

                    <p>20. The plans of school management are often expressed formally in which of the following documents?</p>
                    <ol type="a">
                        <li>Performance reports</li>
                        <li>Ledgers</li>
                        <li>Financial Statements</li>
                        <li><b>Budgets</b></li>
                    </ol>

                    <p>21. In educational institutions, the idolization of a charismatic leader by followers can lead to…</p>
                    <ol type="a">
                        <li>Nurtures a competitive work environment</li>
                        <li>Limiting suggestions for improvements</li>
                        <li>Greater understanding of the mission</li>
                        <li><b>Difficulty in developing a successor</b></li>
                    </ol>

                    <p>22. In educational settings, since job tryouts are impractical, it is necessary to ………. the relative level of job performance for each candidate based on available information.</p>
                    <ol type="a">
                        <li><b>Predict</b></li>
                        <li>Assign</li>
                        <li>Accept</li>
                        <li>Abandon</li>
                    </ol>

                    <p>23. Which bias refers to decision makers making decisions based on strong prior beliefs even when presented with evidence that they are wrong?</p>
                    <ol type="a">
                        <li>Reasoning by analogy bias</li>
                        <li><b>Prior hypothesis bias</b></li>
                        <li>Illusion control bias</li>
                        <li>Escalating commitment bias</li>
                    </ol>

                    <p>24. An important first step in formulating an education institution’s mission is to…</p>
                    <ol type="a">
                        <li><b>Identify the client segment served by the institution</b></li>
                        <li>Evaluate recent performance</li>
                        <li>Decide what it will be like in 10 years</li>
                        <li>Answer “What is our business”</li>
                    </ol>

                    <p>25. A headmistress wanted her school to keep costs low. She drove her own car and furnished her office simply. She was displaying her…</p>
                    <ol type="a">
                        <li>Vision for success</li>
                        <li>Emotional intelligence</li>
                        <li><b>Commitment to her cause</b></li>
                        <li>Astute use of power</li>
                    </ol>

                    <p>26. An argument is sure to be sound if it is a/an…</p>
                    <ol type="a">
                        <li>Guarantee of truth of its conclusion</li>
                        <li>Argument with true premises</li>
                        <li>Argument with a true conclusion</li>
                        <li><b>Argument which is completely valid</b></li>
                    </ol>

                    <p>27. Teachers could be made more accountable when they are given the…</p>
                    <ol type="a">
                        <li>Training in teaching and examining</li>
                        <li>Option to transfer to desired places</li>
                        <li>Opportunity for professional growth</li>
                        <li><b>Freedom to select content and methods of teaching</b></li>
                    </ol>

                    <p>28. What is the population the sample was selected from?</p>
                    <ol type="a">
                        <li>The 200 students who completed the questionnaire</li>
                        <li>All the students and library staff</li>
                        <li>All the senior high students</li>
                        <li><b>All students in the library during the first week of the exam period</b></li>
                    </ol>

                    <p>29. What is the population the school administration is interested in?</p>
                    <ol type="a">
                        <li>The 200 students who completed the questionnaire</li>
                        <li>All the students and the library staff</li>
                        <li>All students in the library during the first week of the exam period</li>
                        <li><b>All the students enrolled at the senior high school</b></li>
                    </ol>

                    <p>30. What is the sample size for the survey?</p>
                    <ol type="a">
                        <li><b>200</b></li>
                        <li>218</li>
                        <li>205</li>
                        <li>220</li>
                    </ol>
                    <p>31. Who won the best teacher (Leadership and Administration) in the 2022 Ghana Teacher Prize?</p>
                    <ol type="a">
                        <li>Lean Owusu Boateng</li>
                        <li>Mr. Joseph Kwaku Agbevanu</li>
                        <li>Madam Stella Gyimaah Larbi</li>
                        <li><b>Ivy Asantewa Owusu</b></li>
                    </ol>

                    <p>32. In a teacher-centered school, the headteacher undertakes all the following activities to enhance teaching and learning except……</p>
                    <ol type="a">
                        <li>Motivating and sustaining teachers interest in teaching</li>
                        <li>Encouraging teacher to develop lesson plans that build on existing knowledge</li>
                        <li><b>Encouraging teachers to avoid test because they demoralize students</b></li>
                        <li>Empowering teachers to involve each learner in the teaching/learning process</li>
                    </ol>

                    <p>33. The general competence intended by Ghana’s pre-tertiary education curriculum framework to promote entrepreneurial skills in learners is</p>
                    <ol type="a">
                        <li>Personal development and leadership</li>
                        <li>Critical thinking and problem solving</li>
                        <li><b>Creativity and innovation</b></li>
                        <li>Communication and collaboration</li>
                    </ol>

                    <p>34. The type of test that measures the performance of learners against the standards covered in the curriculum is called…</p>
                    <ol type="a">
                        <li>Norm-referenced test</li>
                        <li>Diagnostic test</li>
                        <li><b>Criterion-referenced test</b></li>
                        <li>Aptitude test</li>
                    </ol>

                    <p>35. Which of the following is not one of the core domains of the National Teachers Standards?</p>
                    <ol type="a">
                        <li>Values and attitudes</li>
                        <li>Practice</li>
                        <li>Knowledge</li>
                        <li><b>Ethics</b></li>
                    </ol>

                    <p>36. Which of the following is not a tool for the formative assessment in the school system?</p>
                    <ol type="a">
                        <li>Project</li>
                        <li>Oral questions</li>
                        <li>Multiple choice question</li>
                        <li><b>Inventory</b></li>
                    </ol>

                    <p>37. Which of the following relates to the affective domain of students behaviour?</p>
                    <ol type="a">
                        <li>Stereotypes</li>
                        <li>Feelings</li>
                        <li>Attitudes</li>
                        <li><b>All of the above</b></li>
                    </ol>

                    <p>38. The topmost responsibility of a headteacher is to:</p>
                    <ol type="a">
                        <li><b>Provide leadership for learning</b></li>
                        <li>Maintain school records</li>
                        <li>Handle discipline problems</li>
                        <li>Administer the guidance programme</li>
                    </ol>

                    <p>39. The first important step in teaching is…</p>
                    <ol type="a">
                        <li>Writing questions and diagnostic assessment</li>
                        <li>Planning before hand</li>
                        <li>Organizing material to be taught</li>
                        <li><b>Knowing the background of the students</b></li>
                    </ol>

                    <p>40. In what year did GES replace promotion interviews with promotion examinations?</p>
                    <ol type="a">
                        <li><b>2020</b></li>
                        <li>2019</li>
                        <li>2018</li>
                        <li>2017</li>
                    </ol>

                    <p>41. The main objective of classroom assessment is to…</p>
                    <ol type="a">
                        <li>Report on learners performance to parents</li>
                        <li>Measure teachers effectiveness</li>
                        <li><b>Improve teaching and learning</b></li>
                        <li>Compare learners performance</li>
                    </ol>

                    <p>42. A teacher teaches in a remote school where newspapers are delivered irregularly. What is the best way to keep students updated?</p>
                    <ol type="a">
                        <li>Urge the pupils to listen to stories circulating in the community</li>
                        <li>Try all available means to get all the newspaper delivered in the school</li>
                        <li>Gather back issues of newspapers and let pupils compile them</li>
                        <li><b>Encourage the pupils to listen to the daily broadcasts from a radio</b></li>
                    </ol>

                    <p>43. Learners are most likely to be intrinsically motivated to learn when they…</p>
                    <ol type="a">
                        <li>Perceive their performance will compare favorably with peers</li>
                        <li>Know they will receive positive reinforcement</li>
                        <li>Know they will be tested in the near future</li>
                        <li><b>Believe that the work they are doing is interesting and relates to their own lives</b></li>
                    </ol>

                    <p>44. The fundamental aim of supervision is to help…</p>
                    <ol type="a">
                        <li>Teachers to understand pupils</li>
                        <li>Teachers in improving methods</li>
                        <li>Teachers dealing with pupils</li>
                        <li><b>Children learn more effectively</b></li>
                    </ol>

                    <p>45. To make learning effective, an instructional goal must be meaningful in terms of…</p>
                    <ol type="a">
                        <li><b>Students needs and purposes</b></li>
                        <li>Standards of others</li>
                        <li>Objectives of the curriculum</li>
                        <li>Intellectual ideas</li>
                    </ol>

                    <p>46. Procedures used to determine a learner’s abilities are referred to as…</p>
                    <ol type="a">
                        <li>Typical performance test</li>
                        <li>Norm referenced test</li>
                        <li><b>Maximum performance test</b></li>
                        <li>Criterion-referenced test</li>
                    </ol>

                    <p>47. What are the three components of an educational process?</p>
                    <ol type="a">
                        <li>Teaching, learning and practice</li>
                        <li><b>Teacher, students and education</b></li>
                        <li>Education, teacher and books</li>
                        <li>Direction, instruction and skill</li>
                    </ol>

                    <p>48. Which one of the following does not characterize a well-planned lesson?</p>
                    <ol type="a">
                        <li>Varied teaching and learning resources are utilized to promote learning</li>
                        <li>Varied procedures and activities are undertaken by the pupils</li>
                        <li>Lesson objectives are specific, measurable and achievable</li>
                        <li><b>Lesson notes are vetted by school heads</b></li>
                    </ol>

                    <p>49. The capitation grant provided to a school can be used for…</p>
                    <ol type="a">
                        <li>Procure stationery</li>
                        <li>Organise extra classes for pupils</li>
                        <li>Attend to sanitation and minor repairs and maintenance</li>
                        <li><b>Acquire teaching and learning resources</b></li>
                    </ol>

                    <p>50. What is the most important factor a teacher should consider in selecting instructional materials?</p>
                    <ol type="a">
                        <li><b>Objectives of the lesson</b></li>
                        <li>Degree of interest on the part of the students</li>
                        <li>Availability of instructional materials</li>
                        <li>Attractiveness of instructional material</li>
                    </ol>

                     <!-- TRUE/FALSE SECTION -->
                    <p class="text-center h2 fw-bold">SECTION B </p>
                    <p class="text-center fw-bold">TRUE OR FALSE QUESTIONS </p>
                    <p class="text-center fw-bold my-3">INSTRUCTIONS: Answer all questions in the section by identifying whether the statement provided 
                    is true or false. Circle the letter that corresponds to the correct or best options on your questions 
                    paper. </p> 
                    
                    <p>51. In any school situation, performance tasks are hands-on activities requiring students to demonstrate their ability to perform certain actions.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>52. The final outcome of successful strategic competitiveness is above average returns.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>53. Teachers who are respected and liked are associated with greater student satisfaction and higher achievement.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>54. Monitoring involves the development of a forecast of what might happen in the future.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>55. A teacher cannot exhibit referent power from the first day in class by giving students a sense of belonging and acceptance.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>56. Since the health of a nation’s economy affects the performance of firms and industries, organisations study the economic environment to identify changes, trends and strategic implications.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>57. Licensure and exit test are the best predictors of classroom performance of teachers.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>58. External environment analysis should be conducted annually.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>59. If a person teaches with a high degree of clarity, he/she will spend less time going over material.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>60. Students performance is higher in classes where the teacher devotes large amounts of time to materials needed rather than teaching content.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>
                    <p>61. In Ghana, the National Teachers Standards set out the minimum levels of practice that all trained teachers must reach by the end of their pre-service teachers education course in order to play such a critical role.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>62. The purpose of evaluating is to make a judgement about the quality of education provided.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>63. Measurement is the qualitative assessment of performance of learners.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>64. What a teacher does not say is as important as what a teacher does say.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>65. Competitive activities have little value in establishing or maintaining an effective classroom climate and should thus be avoided.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>66. Students feel important and are encouraged to participate in class when a teacher uses their ideas in moving a class lecture or activity forward.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>67. The advancement in literacy, numeracy as well as Science, Technology, Engineering and Mathematics (STEM) fields is central to the Ministry of Education’s vision of producing learners with strong experiential learning capabilities and backgrounds in career focused programmes.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>68. Strategies such as writing detailed test questions or prompts, including clear directions, and establishing and communicating clear grading criteria increase test reliability.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>69. The standard-based curriculum was rolled for the primary schools in Ghana in academic year 2017/2018.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>70. Written assessments are activities in which the students selects or composes a response to a prompt.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>71. The teacher cannot alter the classroom climate but should work for student success regardless of the climate.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>72. The overall goal of the Ministry of Education is to provide relevant and quality education for disadvantaged Ghanaians.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>73. The National Teaching Council is not the mandated body that oversees the posting of newly trained teachers in Ghana.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>

                    <p>74. The skill that must be demonstrated in performance task cannot vary considerably.</p>
                    <ol type="a">
                        <li>True</li>
                        <li><b>False</b></li>
                    </ol>

                    <p>75. In a school, teachers have many different types of assessment available to them.</p>
                    <ol type="a">
                        <li><b>True</b></li>
                        <li>False</li>
                    </ol>


             </div>
        </div>
    </section>
</main>
<%-include ('../../../partials/footer') %>