<%- include('partials/header', { title: '404' }) %>

<div class="container-fluid custom-bg text-dark">
  <div class="row justify-content-center align-items-center min-vh-100 px-2">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-4 fs-md-3 fs-lg-3">
        <span class="text-danger">Oops!</span> <%= message1 %>
      </p>
      <p class="lead"><%= message2 %></p>
      <a href="/" class="btn btn-primary btn-lg mt-3">Go Back Home</a>
    </div>
  </div>
</div>
