<%- include('../../partials/header', {title}) %>
<%- include('../../partials/subnav') %>

<main>
  <div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container bg-primary text-white p-4 rounded text-center">
      <p class="text-white fw-bold fs-4">
        This is a trial test and user data will not be saved. Try and sign up for more questions.
      </p>
      <a href="/exams">
        <button class="btn btn-light fw-bold mt-2">Take Exam</button>
      </a>
    </div>
  </div>
</main>

<%- include('../../partials/footer') %>
